@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {
  --golden-ratio: 1.618;
  --base-font-size: clamp(0.8rem, 1.25vw, 1.5rem);

  --color-text: #141414;
  --color-background: #f7f7f7;
  --color-background-1: #ccc9a3;
  --color-text-1: #494949;

  --border: 1px solid var(--color-text-1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

html {
  overflow-x: hidden;
  height: 100dvh;
}

body {
  height: 100dvh;
}

#root {
  overflow-x: hidden;
  overflow-y: scroll;
}

#root::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: cover;
  object-position: center;
}

.image {
  filter: url(#round);
}

.image img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Set font sizes for headings and paragraph based on base size and golden ratio */
h1 {
  font-size: calc(
    var(--base-font-size) * var(--golden-ratio) * var(--golden-ratio)
  );
  /* font-family: "Syncopate", sans-serif; */
  font-family: "Krona One", sans-serif;
}

h2 {
  font-size: calc(
    var(--base-font-size) * var(--golden-ratio)
  );
}

h3 {
  font-size: var(--base-font-size); /* H3 uses the base font size */
}

h4,
p {
  font-size: calc(var(--base-font-size) / 1.2);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-weight: 600;
}

p {
  font-weight: 500;
}

.hero-image-clipped {
  clip-path: polygon(
    0 0,
    30% 0,
    35% 7.5%,
    65% 7.5%,
    70% 0,
    100% 0,
    100% 100%,
    68% 100%,
    68% 72%,
    0 72%
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider {
  animation: scroll 20s linear infinite;
}

.slider:hover {
  animation-play-state: paused;
}

.showroom-image-clipped {
  clip-path: polygon(100% 0, 100% 100%, 52% 100%, 52% 50%, 50% 48%, 0 48%, 0 0);
}
.showroom-image-clipped-md {
  clip-path: polygon(
    80% 0,
    80% 3%,
    80% 7%,
    81% 13%,
    84% 17%,
    92% 20%,
    100% 20%,
    100% 100%,
    0 100%,
    0 0
  );
}

.centerpiece-image {
  clip-path: polygon(
    0 0,
    51% 0%,
    48% 12.5%,
    76% 12.5%,
    73% 25%,
    100% 25%,
    100% 100%,
    0 100%
  );
}
.centerpiece-image-md {
  clip-path: polygon(
    0 0,
    65% 0%,
    65% 10%,
    84% 10%,
    84% 18%,
    100% 18%,
    100% 84%,
    88% 84%,
    /* 88% 86%, */ /* 88% 87%, */ /* 88% 94%, */ /* 88% 100%, */ 88% 100%,
    0 100%
  );
}

.sub-image-clipped {
  clip-path: polygon(
    0 0,
    100% 1%,
    100% 100%,
    60% 100%,
    60% 90%,
    41% 90%,
    41% 79%,
    0 79%
  );
}

.sub-image-clipped-md {
  clip-path: polygon(100% 0, 100% 84%, 88% 84%, 88% 100%, 0 100%, 0 0);
}

.social-links .links-container,
.social-links .links-container-md {
  width: 85%;
  height: 100%;
  position: relative;
}

.links-container *,
.links-container-md * {
  position: absolute;
  transition: left 0.5s ease-out, opacity 0.3s ease, bottom 1s linear,
    transform 1.5s ease;
  opacity: 1;
}

.links-container .wheel-white,
.links-container .wheel-black,
.links-container .wheel-black-2,
.links-container-md .wheel-white,
.links-container-md .wheel-black,
.links-container-md .wheel-black-2 {
  aspect-ratio: 1;
  bottom: 0;
}

.links-container .wheel-black,
.links-container-md .wheel-black {
  left: 0;
}

.links-container .wheel-black-2,
.links-container-md .wheel-black-2 {
  left: 78.5%;
}

.links-container .wheel-white,
.links-container-md .wheel-white {
  bottom: 24%;
  left: 21%;
  border: var(--border);
  border-radius: 50%;
  transform: rotateZ(-45deg);
}

.links-container .social-tags,
.links-container-md .social-tags {
  background-color: var(--color-background);
  color: var(--color-text-1);
  border: var(--border);
  border-radius: 24px;
  /* padding: 0.6rem 2rem; */
  text-transform: uppercase;
  text-align: center;
  font-size: calc(var(--h3-font-size) * 1.5);
}

.links-container .social-tags::after,
.links-container-md .social-tags::after {
  display: none;
}

.links-container .facebook,
.links-container .youtube,
.links-container .linkedIn,
.links-container-md .facebook,
.links-container-md .youtube,
.links-container-md .linkedIn {
  background-color: var(--color-text-1);
  color: var(--color-background);
  border: 1px solid var(--color-text-1);
}

/* Specific values for .links-container */
.links-container .vimeo {
  bottom: 66%;
  left: 17%;
  transform: rotateZ(-25deg);
}

.links-container .pinterest {
  bottom: 65%;
  left: 43%;
  transform: rotateZ(0deg);
}

.links-container .twitter {
  bottom: 44%;
  left: 69%;
  transform: rotateZ(75deg);
}

.links-container .facebook {
  bottom: 44%;
  left: 40%;
  transform: rotateZ(39deg);
}

.links-container .instagram {
  bottom: 0%;
  left: 30%;
  transform: rotateZ(0deg);
}

.links-container .youtube {
  bottom: 41%;
  left: -4%;
  transform: rotateZ(-50deg);
}

.links-container .linkedIn {
  bottom: 19%;
  left: 51%;
  transform: rotateZ(-35deg);
}

/* Specific values for .links-container-md */

.links-container-md .vimeo {
  bottom: 77%;
  left: 5%;
  transform: rotateZ(10deg);
}

.links-container-md .pinterest {
  bottom: 8.5%;
  left: 17.65%;
  transform: rotateZ(-15deg);
}

.links-container-md .twitter {
  bottom: 3.25%;
  left: 34%;
  transform: rotateZ(-5deg);
}

.links-container-md .facebook {
  bottom: 30%;
  left: 38%;
  transform: rotateZ(-23deg);
}

.links-container-md .instagram {
  bottom: 18%;
  left: 51.25%;
  transform: rotateZ(5deg);
}

.links-container-md .youtube {
  bottom: 0%;
  left: 60%;
  transform: rotateZ(0deg);
}

.links-container-md .linkedIn {
  bottom: 49%;
  left: 62.5%;
  transform: rotateZ(-32deg);
}
.social-links .Hidden * {
  left: 0% !important;
  bottom: 120% !important;
  transform: rotateZ(100deg) !important;
  opacity: 0;
}

.philosophy-image-clipped {
  /* img */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 75%, 50% 100%, 0% 100%);
}

.clip-container {
  filter: url(#round);
}

@media (min-width: 768px) {
  .principals-clipped {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      68% 100%,
      68% 27%,
      62% 27%,
      62% 15%,
      38% 15%,
      38% 27%,
      32% 27%,
      32% 100%,
      0% 100%
    );
  }
  .hover-effect-cont{
    overflow: hidden;
  }
  .hover-effect-cont img:hover {
    transform: scale(1.1);
    transition: all .5s ease;
  }
}

.tripple-clip {
  clip-path: polygon(
    2.33% 0%,
    46.5% 0%,
    50% 50%,
    53.5% 0%,
    80.5% 0%,
    84.39% 50%,
    88.28% 0%,
    98% 0%,
    100% 11%,
    100% 84%,
    99.17% 100%,
    88.28% 100%,
    84.39% 50%,
    80.5% 100%,
    53.5% 100%,
    50% 50%,
    46.5% 100%,
    2% 100%,
    0% 91%,
    0% 15%
  );
}
