@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-text: #141414;
  --color-background: #d4d1c9;
  --color-background-1: #ccc9a3;
  --color-text-1: #333333;
  --base-font-size: clamp(12px, 1.1vw, 32px);
  --h4-font-size: calc(var(--base-font-size) * 1);
  --h3-font-size: calc(var(--h4-font-size) * 1.2);
  --h2-font-size: calc(var(--base-font-size) * 4);
  --h1-font-size: calc(var(--base-font-size) * 6);
  --border: 1px solid var(--color-text-1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: "Montserrat";
  transition: all 0.3s ease;
}

.row, html body #root footer .contact-banner, html body #root footer .info, html body #root main #showcase, html body #root main #showroom, html body #root main #stats-section .stats, html body #root main #hero-section .hero-image .founders .photos, html body #root main #hero-section .heading span, html body #root header nav .left, html body #root header nav, .btn-txt-ic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.column, html body #root footer .social-links, html body #root footer, html body #root main #showcase .centerpiece .title, html body #root main #showcase .centerpiece,
html body #root main #showcase .sub, html body #root main #showroom .left, html body #root main #stats-section .license-info, html body #root main #stats-section .stats .stats-card, html body #root main #hero-section .hero-image .founders, html body #root main #hero-section .heading, html body #root main #hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

h1 {
  text-transform: capitalize;
  font-size: var(--h1-font-size);
  line-height: calc(var(--h1-font-size) / 1);
}

h2 {
  text-transform: capitalize;
  font-size: var(--h2-font-size);
  line-height: calc(var(--h2-font-size) * 1.4);
}

h3,
.social-tags {
  text-transform: capitalize;
  font-size: var(--h3-font-size);
  line-height: calc(var(--h3-font-size) * 1.4);
}

h4,
button,
.btn-txt-ic p,
.btn-txt-ic span {
  text-transform: capitalize;
  font-size: var(--h3-font-size);
  line-height: calc(var(--h3-font-size) * 1.4);
}

p,
a {
  font-size: var(--base-font-size);
  font-weight: 500;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  background: var(--color-text-1);
  transition: all 0.3s ease;
}
a:hover::after {
  width: 100%;
  left: 0;
}

button, .btn-txt-ic p,
.btn-txt-ic span,
.button {
  border: none;
  background-color: var(--color-text);
  color: var(--color-background);
  border-radius: 24px;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
}
button:hover, .btn-txt-ic p:hover,
.btn-txt-ic span:hover,
.button:hover {
  background-color: var(--color-text-1);
}

.btn-ic {
  border-radius: 50%;
  aspect-ratio: 1/1 !important;
  font-size: var(--h2-font-size);
}

.btn-txt-ic {
  height: 3rem;
  gap: 0;
  padding: 0;
  background: none;
}
.btn-txt-ic:hover {
  background: none;
}
.btn-txt-ic:hover p,
.btn-txt-ic:hover span {
  background: var(--color-text-1);
}
.btn-txt-ic p,
.btn-txt-ic span {
  height: 100%;
  display: flex;
  align-items: center;
}
.btn-txt-ic span {
  font-size: var(--h3-font-size);
  line-height: calc(var(--h3-font-size) / 1.4);
}

.image-container {
  width: 100%;
  position: relative;
}
.image-container h2,
.image-container button,
.image-container .btn-txt-ic p,
.btn-txt-ic .image-container p,
.image-container .btn-txt-ic span,
.btn-txt-ic .image-container span {
  position: absolute;
  z-index: 2;
}
.image-container h2 {
  top: -0.5vh;
  right: 2%;
  font-size: 3vw;
  line-height: 6.5vh;
  letter-spacing: 0.3rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: 500;
}
.image-container button, .image-container .btn-txt-ic p, .btn-txt-ic .image-container p,
.image-container .btn-txt-ic span,
.btn-txt-ic .image-container span {
  right: 1%;
  bottom: 2%;
}
.image-container .image {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 1;
  filter: url(#round);
}
.image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition-duration: 1s;
}
.image-container .image:hover img {
  transform: scale(1.1);
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
html body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
html body #root {
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body #root::-webkit-scrollbar {
  display: none;
}
html body #root header {
  width: 100%;
  height: 7vh;
  position: sticky;
  z-index: 999;
  top: 0;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
html body #root header nav {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  justify-content: space-between;
}
html body #root header nav .logo {
  height: 6rem;
  width: -moz-fit-content;
  width: fit-content;
}
html body #root header nav .logo img {
  height: inherit;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
html body #root header nav .logo::after,
html body #root header nav .right a::after {
  display: none;
}
html body #root main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 10vh;
}
html body #root main .home-button {
  margin-left: 32px;
}
html body #root main section {
  width: 100dvw;
  padding: 3rem;
  overflow: hidden;
}
html body #root main #hero-section {
  align-items: center;
  gap: 5rem;
  overflow: visible;
}
html body #root main #hero-section .heading {
  width: 100%;
  align-items: center;
  gap: 0.25rem;
}
html body #root main #hero-section .heading span {
  justify-content: center;
}
html body #root main #hero-section .heading span img {
  height: calc(var(--h1-font-size) / 1.5);
  aspect-ratio: 30/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 2rem;
}
html body #root main #hero-section .hero-image {
  width: 100%;
  aspect-ratio: 25/9;
  position: relative;
  display: flex;
  justify-content: center;
}
html body #root main #hero-section .hero-image button, html body #root main #hero-section .hero-image .btn-txt-ic p, .btn-txt-ic html body #root main #hero-section .hero-image p,
html body #root main #hero-section .hero-image .btn-txt-ic span,
.btn-txt-ic html body #root main #hero-section .hero-image span {
  position: absolute;
  padding: 1rem 3rem;
  top: -1.25rem;
  box-shadow: 0px 0px 0px 0.75rem var(--color-background);
  z-index: 2;
}
html body #root main #hero-section .hero-image .image-container {
  aspect-ratio: inherit;
}
html body #root main #hero-section .hero-image .founders {
  position: absolute;
  bottom: -6rem;
  right: 0.5rem;
  z-index: 2;
  align-items: flex-end;
  gap: 0.5rem;
}
html body #root main #hero-section .hero-image .founders .photos {
  gap: 1rem;
}
html body #root main #hero-section .hero-image .founders .photos img {
  height: 4.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem var(--color-background);
}
html body #root main #hero-section .hero-image .founders h3 {
  text-align: right;
}
html body #root main #stats-section {
  height: 27rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
html body #root main #stats-section .image-container,
html body #root main #stats-section .stats,
html body #root main #stats-section .license-info {
  height: 100%;
}
html body #root main #stats-section .image-container {
  max-width: 300px;
}
html body #root main #stats-section .image-container .image {
  filter: none;
}
html body #root main #stats-section .image-container .image img {
  height: 100%;
}
html body #root main #stats-section .stats {
  max-width: 100%;
  min-width: 600px;
  align-items: flex-end;
  gap: 1rem;
}
html body #root main #stats-section .stats :nth-child(2) {
  border-left: var(--border);
  border-right: var(--border);
}
html body #root main #stats-section .stats .stats-card {
  height: 70%;
  width: 15rem;
  padding: 0 2.5rem;
  justify-content: flex-end;
  gap: 0.5rem;
}
html body #root main #stats-section .stats .stats-card * {
  border: none;
}
html body #root main #stats-section .license-info {
  width: 100%;
  max-width: 25vw;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}
html body #root main #stats-section .license-info p {
  text-align: right;
}
html body #root main #showroom {
  padding: 7rem 7rem;
  padding-bottom: 10rem;
  align-items: center;
  justify-content: center;
  gap: 2%;
  position: relative;
}
html body #root main #showroom .left {
  width: 40%;
}
html body #root main #showroom .image-container {
  width: 60%;
  aspect-ratio: 4/3;
}
html body #root main #showroom .image-container .image img {
  -webkit-clip-path: polygon(80% 0, 80% 3%, 80% 7%, 81% 13%, 84% 17%, 92% 20%, 100% 20%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(80% 0, 80% 3%, 80% 7%, 81% 13%, 84% 17%, 92% 20%, 100% 20%, 100% 100%, 0 100%, 0 0);
}
html body #root main #showroom .slider-wrapper {
  position: absolute;
  bottom: 0%;
  width: 100%;
  overflow: hidden;
  background: var(--color-background-1);
}
html body #root main #showroom .slider-wrapper .slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}
html body #root main #showroom .slider-wrapper .slider:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
html body #root main #showroom .slider-wrapper .slider h2 {
  flex-shrink: 0;
  font-weight: 500;
  font-size: calc(var(--h2-font-size) / 1.4);
  text-transform: uppercase;
}
html body #root main #showroom .slider-wrapper .slider img {
  height: var(--h2-font-size);
  aspect-ratio: 1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
html body #root main #showcase {
  height: 55vw;
  width: 100%;
  padding: 3rem 5rem;
  justify-content: center;
  gap: 1rem;
}
html body #root main #showcase .centerpiece,
html body #root main #showcase .sub {
  height: 100%;
  justify-content: center;
  gap: 2rem;
}
html body #root main #showcase .centerpiece {
  width: 60%;
}
html body #root main #showcase .centerpiece .title {
  height: 15%;
  width: 100%;
  justify-content: center;
  gap: 0.25rem;
  padding-left: 0rem;
}
html body #root main #showcase .centerpiece .title p,
html body #root main #showcase .centerpiece .title h3 {
  text-transform: uppercase;
}
html body #root main #showcase .centerpiece .image-container {
  height: 85%;
  max-height: 56vh;
}
html body #root main #showcase .centerpiece .image-container .image {
  max-height: 56vh;
  border-radius: 0;
}
html body #root main #showcase .centerpiece .image-container .image img {
  -webkit-clip-path: polygon(0 0, 38% 0%, 38% 6vh, 70% 6vh, 70% 13vh, 100% 13vh, 100% 75%, 92% 75%, 86% 78%, 85% 86%, 85% 94%, 85% 100%, 0 100%);
          clip-path: polygon(0 0, 38% 0%, 38% 6vh, 70% 6vh, 70% 13vh, 100% 13vh, 100% 75%, 92% 75%, 86% 78%, 85% 86%, 85% 94%, 85% 100%, 0 100%);
}
html body #root main #showcase .centerpiece .image-container .image:hover img {
  transform: scale(1) rotateZ(-1deg);
}
html body #root main #showcase .sub {
  width: 40%;
  gap: 1rem;
  padding: 0 2rem;
}
html body #root main #showcase .sub .image-container {
  max-height: 70%;
}
html body #root main #showcase .sub .image-container:hover img {
  transform: scale(1) rotateZ(1deg);
}
html body #root main #showcase .sub .image-container img {
  border-radius: 0;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 92% 75%, 79% 77%, 74% 84%, 74% 93%, 74% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 75%, 92% 75%, 79% 77%, 74% 84%, 74% 93%, 74% 100%, 0 100%, 0 0);
}
html body #root main #showcase .sub h3 {
  font-size: calc(var(--h3-font-size) * 1.3);
}
html body #root footer {
  width: 100%;
  gap: 0;
  background: var(--color-text-1);
  position: relative;
}
html body #root footer::after {
  position: absolute;
  content: "";
  width: 100dvw;
  height: 5%;
  bottom: -5%;
  background: var(--color-text-1);
}
html body #root footer .social-links,
html body #root footer .info,
html body #root footer .contact-banner {
  width: 100vw;
}
html body #root footer .social-links {
  height: 300px;
  border-top: var(--border);
  background: var(--color-background);
  align-items: center;
}
html body #root footer .social-links .links-container {
  width: 85%;
  height: 100%;
  position: relative;
}
html body #root footer .social-links .links-container * {
  position: absolute;
}
html body #root footer .social-links .links-container .wheel-white,
html body #root footer .social-links .links-container .wheel-black,
html body #root footer .social-links .links-container .wheel-black-2 {
  height: 80%;
  aspect-ratio: 1;
  bottom: 0;
}
html body #root footer .social-links .links-container .wheel-black {
  left: 0;
}
html body #root footer .social-links .links-container .wheel-black-2 {
  left: 78.5%;
}
html body #root footer .social-links .links-container .wheel-white {
  height: 50%;
  bottom: 24%;
  left: 21%;
  border: var(--border);
  border-radius: 50%;
  transform: rotateZ(-45deg);
}
html body #root footer .social-links .links-container .social-tags {
  background-color: var(--color-background);
  color: var(--color-text-1);
  border: var(--border);
  border-radius: 24px;
  padding: 0.6rem 2rem;
  width: 21.35%;
  text-transform: uppercase;
  text-align: center;
  font-size: calc(var(--h3-font-size) * 1.5);
}
html body #root footer .social-links .links-container .social-tags::after {
  display: none;
}
html body #root footer .social-links .links-container .facebook,
html body #root footer .social-links .links-container .youtube,
html body #root footer .social-links .links-container .linkedIn {
  background-color: var(--color-text-1);
  color: var(--color-background);
  border: 1px solid var(--color-text-1);
}
html body #root footer .social-links .links-container .vimeo {
  bottom: 77%;
  left: 5%;
  transform: rotateZ(10deg);
}
html body #root footer .social-links .links-container .pinterest {
  bottom: 8.5%;
  left: 17.65%;
  transform: rotateZ(-15deg);
}
html body #root footer .social-links .links-container .twitter {
  bottom: 3.25%;
  left: 34%;
  transform: rotateZ(-5deg);
}
html body #root footer .social-links .links-container .facebook {
  bottom: 30%;
  left: 38%;
  transform: rotateZ(-23deg);
}
html body #root footer .social-links .links-container .instagram {
  bottom: 18%;
  left: 51.25%;
  transform: rotateZ(5deg);
}
html body #root footer .social-links .links-container .youtube {
  bottom: 0%;
  left: 60%;
  transform: rotateZ(0deg);
}
html body #root footer .social-links .links-container .linkedIn {
  bottom: 49%;
  left: 62.5%;
  transform: rotateZ(-32deg);
}
html body #root footer .info {
  padding: 2rem 5rem;
  justify-content: space-between;
  background: var(--color-text-1);
}
html body #root footer .info p {
  width: 20%;
  color: var(--color-background);
}
html body #root footer .info p:last-of-type {
  text-align: right;
}
html body #root footer .contact-banner {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0rem 0rem;
  padding-top: 1rem;
  background: inherit;
  justify-content: center;
}
html body #root footer .contact-banner h1 {
  color: var(--color-background);
  font-size: calc(var(--h1-font-size) * 1.8);
  line-height: calc(var(--h1-font-size) * 1.8);
  text-transform: uppercase;
}
html body #root footer .contact-banner span {
  height: 64px;
  aspect-ratio: 1;
  background: url(../images/star-white.png) center/cover no-repeat;
}